mixin rich-checkbox-paste()

    div
        input#rich-1.rich-checkbox(type='checkbox')
        label.rich(for='rich-1') 
            div.rich-text
                h3.rich-text-h Широкий коридор
                //- div.rich-text
                span.rich-text-span Ширина коридоров в номере не менее 91 см.

    div
        input#rich-2.rich-checkbox(type='checkbox')
        label.rich(for='rich-2') 
            div.rich-text
                h3.rich-text-h Помощник для инвалидов
                span.rich-text-span На 1 этаже вас встретит специалист  и проводит до номера.
  

