

html
  head
    title Colors&Type
  body.ui-kit-body

    div.colors-and-type-block

      img.ui-kit-logo-icon(src="", alt="")

      div.color-icon.ds100-color-icon
      div.color-icon.ds75-color-icon
      div.color-icon.ds50-color-icon
      div.color-icon.ds25-color-icon
      div.color-icon.ds5-color-icon
      div.color-icon.purple-color-icon
      div.color-icon.green-color-icon
      

      div.color-name-title.color-name-ds100
        span.color-name-title-ds Dark Shade 100% 
        span.color-name-title-index #1F2041

      div.color-name-title.color-name-ds75
        span.color-name-title-ds Dark Shade 75% 
        span.color-name-title-index #1F2041

      div.color-name-title.color-name-ds50
        span.color-name-title-ds Dark Shade 50% 
        span.color-name-title-index #1F2041

      div.color-name-title.color-name-ds25
        span.color-name-title-ds Dark Shade 25% 
        span.color-name-title-index #1F2041

      div.color-name-title.color-name-ds5
        span.color-name-title-ds Dark Shade 5% 
        span.color-name-title-index #1F2041

      div.color-name-title.color-name-purple
        span.color-name-title-ds Purple
        br
        span.color-name-title-index #BC9CFF

      div.color-name-title.color-name-green
        span.color-name-title-ds Green
        br
        span.color-name-title-index #6FCF97





      span.colors-and-type-text-icon.h1-icon H1
      span.colors-and-type-text-icon.h2-icon H2
      span.colors-and-type-text-icon.h3-icon H3
      span.colors-and-type-text-icon.body-icon Body

      h1.colors-and-type-text-style.colors-and-type-text-h1 This one is the sub-section or widget title
      h2.colors-and-type-text-style.colors-and-type-text-h2 Next one is the item title inside widgets
      h3.colors-and-type-text-style.colors-and-type-text-h3 This is a label or CTA text
      span.colors-and-type-text-style.colors-and-type-text-body This is the body text which is used for most of the design, like paragraphs, lists, etc.