mixin range-slider-paste(title)
   
    div.slider-contain 
        div.slider-text-block
            div.slider-title
                h3(style="font-size: 12px")=title
            div.rezult-polzunok
                span#result-polzunok
        //div.slider-block
        div#polzunok