$var1: #ffffff;
$var2: #ffffff;

$var1: #BC9CFF;
$var2: #8BA4F9;
$var3: #ffffff;

button {
	outline: none;
}

#button-big {
	width: 320px;
	height: 44px;
	border: 1px solid;
	border-radius: 22px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	color: $var3;
	font-weight: 700;
	text-align: right;
		// &:hover {
		// 	opacity: 0.5;
		// }
}

#button-big:active {
  opacity: 0.5;
}


#button-big svg {
  display: inline-block;
  vertical-align: middle;
  fill: #fff;
  width: 20px;
  height: 20px;
	&:active {
		opacity: 0.5;
	}
	svg {
		display: inline-block;
		vertical-align: middle;
		fill: $var3;
		width: 20px;
		height: 20px;
		margin-left: 20%;
    }
    
}

#button-big-div {
    float: left;
    text-align: center;
    background: none;
    width: 70%;
    margin-left: 15%;
    margin-top: 1%;
}



.button-smole-border {
	width: 99px;
	height: 44px;
	color: $var1;
	font-weight: 700;
	border-top: 2px solid $var1;
	border-bottom: 2px solid $var2;
	border-left: none;
	border-right: none;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	-webkit-background-size: 99px 100%;
	-moz-background-size: 99px 100%;
	background-size: 99px 100%;
	background-image: -webkit-linear-gradient(top, $var1 0%, $var2 100%), -webkit-linear-gradient(top, #BC9CFF 0%, #8BA4F9 100%);
	background-image: -moz-linear-gradient(top, $var1 0%, $var2 100%), -moz-linear-gradient(top, #BC9CFF 0%, #8BA4F9 100%);
	background-image: -o-linear-gradient(top, $var1 0%, $var2 100%), -o-linear-gradient(top, #BC9CFF 0%, #8BA4F9 100%);
	background-image: linear-gradient(to bottom, $var1 0%, $var2 100%), linear-gradient(to bottom, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	outline: none;
	&:active {
		opacity: 0.5;
	}
	// &:hover {
	// 	opacity: 0.5;
	// }
}
#button-smole {
	width: 99px;
	height: 44px;
	color: $var3;
	font-weight: 700;
	background: linear-gradient(180deg, $var1 0%, $var2 100%);
	border: 0px solid;
	border-radius: 22px;
	&:active {
		opacity: 0.5;
	}
	// &:hover {
	// 	opacity: 0.5;
	// }
}
.button-smole-without-border {
	border: 0px solid;
	background: none;
	font-weight: 700;
	color: $var1;
	padding-left: 0px;
	font-family: inherit;
	&:active {
		color: rgba(31, 32, 65, 0.5);
	}
	// &:hover {
	// 	color: rgba(31, 32, 65, 0.5);
	// }
}
.forbutton {
	background-color: $var3;
	height: 40px;
	width: 95px;
	border-radius: 22px;
	margin-left: -4px;
	margin-top: -1px;
	line-height: 39px;
}
