//include ../../element/button-long/button-long

html
  head
    title My Site
  body
    h1 Site pages
    a(href = "./cards.html") Cards 
    br
    a(href = "./colors-and-type.html") Colors&Types
    br
    a(href = "./form-elements.html") Form Elements
    br
    a(href = "./headers-and-footers.html") Headers&Footers




    //include ../../element/button-long/button-long
    //+article('Hello world')

    //+article('Hello world')


//include ../../element/button-long/button-long.pug

//head
    title Pug
    
//body
    block content 
    p liuhoiu 
    include ../../element/button-long/button-long.pug 
    +article('Hello world')

    +article('Hello world')
  