html
  head
    title Main Page
  body
    h1 Site pages
    h2 UI-KIT
    a(href = "./cards.html") Cards 
    br
    a(href = "./colors-and-type.html") Colors&Types
    br
    a(href = "./form-elements.html") Form Elements
    br
    a(href = "./headers-and-footers.html") Headers&Footers
    h2 Website Pages