mixin like-buttons(number_of_like, class_added_like)

    script 
        like-buttons.js
    
    button.button-smole-border1.like(type='checkbox' class=class_added_like)
        .forbutton-like
            i.material-icons favorite_outline
            span.likes-number= number_of_like
                
                 












