mixin like-buttons(number_of_like)

    script 
        like-buttons.js
    
    button.button-smole-border1.like(type='checkbox' checked='checked')
        .forbutton-like
            i.material-icons favorite_outline
            span.likes-number= number_of_like
                
                 












