$font-size: 40px;
$font-color: #0000F0;

html {
    font-family: "Montserrat";
    font-size: $font-size;
    color: $font-color;
}

p {
    color: red;
}
.cards-background {
    background-color: #E5E5E5;
    width: 1440px;
    height: 4000px;
}
