include ../../blocks/find/find
include ../../blocks/registration/registration
include ../../blocks/hotel-number/hotel-number
include ../../blocks/login/login



div.cards-background
    +find-block()  
    br
    br
    br
    +registration-block()
    br
    br
    br
    br
    +hotel-number-block()
    brbr 
    br
    br
    br
    +login-block()