include ../like-buttons/like-buttons

mixin comment(number_like, added_like, user_name, date_comment, comment_text)

    div.comment
        //- div.comment-header
        div.avatar
            img.user-avatar(src="", alt=user_name)
        div.user
            span.user-name=user_name
            br
            span.date-comment=date_comment
        //- div.comment-content
        div.like-block
            span
                +like-buttons(number_like, added_like)
        div.comment-text
            span=comment_text



