
mixin checkbox-paste()

    div
        input#box-1.square-checkbox(type='checkbox')
        label.checkbox-label(for='box-1') Можно курить
    div
        input#box-2.square-checkbox(type='checkbox' checked="checked")
        label.checkbox-label(for='box-2') Можно с питомцами
    div
        input#box-3.square-checkbox(type='checkbox' checked="checked")
        label.checkbox-label(for='box-3') Можно пригласить гостей (до 10 человек)















