$font-size: 40px;
$font-color: #0000F0;

html {
    font-size: $font-size;
    color: $font-color;
}

//C:\Users\Дмитрий\AppData\Local\Programs\Python\Python36\Scripts\;C:\Users\Дмитрий\AppData\Local\Programs\Python\Python36\;C:\Users\Дмитрий\Pyhon\Scripts\;C:\Users\Дмитрий\Pyhon\;%PyCharm%;%PyCharm Community Edition%;C:\Users\Дмитрий\AppData\Roaming\npm;D:\Microsoft VS Code\bin