.people {
    //position: fixed;
    width: 320px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25) !important;
    border-radius: 2px;
    background: #ffffff;
    z-index: 999999 !important;
    font-family: 'Montserrat';
}

.guest-quantity-block {
    height: 44px;
    line-height: 44px;
}


.guest-quantity {
    font-family: 'Montserrat' !important;
    font-size: 14px;
    line-height: normal;
	display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 15px;
    color: rgba(31, 32, 65, 0.75) !important;
    font-size: 14px;
}

.dropdown-icon-block {
    width: 20%;
    display: inline-block;
    text-align: right;
}

.guest-quantity-text {
    width: 80%;
    display: inline-block;
    text-align: left;
}

.dropdown-icon {
    margin-top: 10px;
    line-height: normal;
	display: inline-block;
    vertical-align: middle;
    text-align: right;
    margin-right: 5px;
    color: rgba(31, 32, 65, 0.5);
}

.quantity-change {
    height: 30px;
    width: 30px;
    // line-height: normal;
	// display: inline-block;
    // vertical-align: middle;
    text-align: center;
    border-radius: 15px;
    background: none;
    //line-height: 30px;
    //padding-bottom: 5px;
    // padding: 10px;
    // padding: 10px;
    // padding: 10px;
}

.people-type {
    font-size: 12px;
    font-weight: 700;
    margin-left: 8px;
    color: rgba(31, 32, 65, 1) !important;
}


.dropdown-people-list-item {
    margin: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.dropdown-list {
    height: 119px;
    border-top: 1px solid rgba(31, 32, 65, 0.25) !important;
    display: none;
    z-index: 999999 !important;
}

.quantity-number {
    margin: 8px;
    font-size: 12px;
    font-weight: 700;
    color: rgba(31, 32, 65, 1);
}


.quantity-block {
    width: 50%;
    display: inline-block;
    text-align: right;
}

.people-type-block {
    width: 50%;
    display: inline-block;
    text-align: left;
}


.minus {
    color: rgba(31, 32, 65, 0.25);
    border: 1px solid rgba(31, 32, 65, 0.25);
}

.plus {
    color: rgba(31, 32, 65, 0.5);
    border: 1px solid rgba(31, 32, 65, 0.5);
}

.add-dropdown {
    font-size: 12px !important; 
    color: #BC9CFF;
    font-weight: 700;
    margin-right: 7px;
}


.clean-dropdown {
    font-size: 12px !important;
    color: #BC9CFF;
    font-weight: 700;
    margin-left: 17px;
}



.clean-dropdown-block {
    width: 50%;
    display: inline-block;
    text-align: left;
}

.add-dropdown-block {
    width: 50%;
    display: inline-block;
    text-align: right;
}

.dropdown-people-add {
    margin-top: 20px !important;
    margin-bottom: 13px;
}