mixin expandable-checkbox-paste(tetle_text, open_checked)

    script 
        epandable-checkbox.js

    button.expandable-checkbox-button.qwe222(type='checkbox')
        div.expandable-block
            h3.expandable-h=tetle_text 
            i.material-icons.expand-icon=open_checked
        div.expandable-checkbox-list
            div
                input#expandable-1.expandable-checkbox(type='checkbox')
                label.expandable-label(for='expandable-1') Завтрак
            div
                input#expandable-2.expandable-checkbox(type='checkbox' checked='checked')
                label.expandable-label(for='expandable-2') Письменный стол
            div
                input#expandable-3.expandable-checkbox(type='checkbox' checked='checked')
                label.expandable-label(for='expandable-3') Стул для кормления
            div
                input#expandable-4.expandable-checkbox(type='checkbox' checked='checked')
                label.expandable-label(for='expandable-4') Кроватка
            div
                input#expandable-5.expandable-checkbox(type='checkbox')
                label.expandable-label(for='expandable-5') Телевизор
            div
                input#expandable-6.expandable-checkbox(type='checkbox')
                label.expandable-label(for='expandable-6') Шампунь