.rate-button{
    font-family: "Material Icons",sans-serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
    vertical-align: middle;
    background: linear-gradient(#BC9CFF 0%, #88a4f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: inherit;
}
