mixin rate-button-paste(rate)

    case rate
        when 1 
            i.material-icons.rate-button star
            i.material-icons.rate-button star_outline
            i.material-icons.rate-button star_outline
            i.material-icons.rate-button star_outline
            i.material-icons.rate-button star_outline
        when 2 
            i.material-icons.rate-button star
            i.material-icons.rate-button star
            i.material-icons.rate-button star_outline
            i.material-icons.rate-button star_outline
            i.material-icons.rate-button star_outline
        when 3 
            i.material-icons.rate-button star
            i.material-icons.rate-button star
            i.material-icons.rate-button star
            i.material-icons.rate-button star_outline
            i.material-icons.rate-button star_outline
        when 4 
            i.material-icons.rate-button star
            i.material-icons.rate-button star
            i.material-icons.rate-button star
            i.material-icons.rate-button star
            i.material-icons.rate-button star_outline
        when 5 
            i.material-icons.rate-button star
            i.material-icons.rate-button star
            i.material-icons.rate-button star
            i.material-icons.rate-button star
            i.material-icons.rate-button star
        default
            i.material-icons.rate-button star
            i.material-icons.rate-button star_outline
            i.material-icons.rate-button star_outline
            i.material-icons.rate-button star_outline
            i.material-icons.rate-button star_outline