include ../../element/buttons/buttons
include ../../element/text-fields/text-fields


mixin footer-creative()
    footer.footer-creative-block

        img.footer-creative-logo-img(src="")
        

  



        //- div.footer-copyright
        span.footer-creative-copyright-text Copyright © 2018 Toxin отель. Все права зачищены.

        nav.footer-copyright-brands-creative
            div.copyright-icons.footer-widget-twitter(href="")
            div.copyright-icons.footer-widget-facebook(href="")
            div.copyright-icons.footer-widget-instagram(href="")