
<!DOCTYPE html>
mixin article(title)
  .article
    .article-wrapper
      h1= title 
      if block
        block
      else
        p BUTTON
    
    //- extends base.pug
    //- - var title = 'Animals'
    //- - var pets = ['cat', 'dog']
    //- block content
    //- h1= title 
    //- each petName in pets
    //-     p= petName 

//- doctype html

//- head
//-   meta(charset='utf-8')
//-   title esrgserg

//- body
//-     a(href="") opuijpjp
