include ../../element/buttons/buttons
include ../../element/checkbox-buttons/checkbox-buttons
include ../../element/radio-button/radio-button
include ../../element/toggle/toggle
include ../../element/like-buttons/like-buttons
include ../../element/rate-button/rate-button
include ../../element/comfort-icons/comfort-icons
include ../../element/rich-checkbox-button/rich-checkbox-button
include ../../element/expandable-checkbox/expandable-checkbox
include ../../element/dropdown/dropdown
include ../../element/dropdown-room/dropdown-room
include ../../element/range-slider/range-slider
include ../../element/pagination/pagination
include ../../element/date-dropdown/date-dropdown
include ../../element/text-fields/text-fields
include ../../element/bullet-list/bullet-list
include ../../element/comment/comment









div.form-elements-block
   


    div.form-elements-range-slider
      +range-slider-paste("RANGE SLIDER")
    div.form-elements-log-button
      +button-paste('button-long' , "ПЕРЕЙТИ К ОПЛАТЕ")
    div.form-elements-button-smole
      +button-paste('button-smole', 'CLICK ME')
    div.form-elements-button-smole-on
      +button-paste('button-smole-on', 'CLICK ME')
    div.form-elements-button-smole-border
      +button-paste('button-smole-border', 'CLICK ME')
    div.form-elements-button-smole-border-on
      +button-paste('button-smole-border-on', 'CLICK ME')
    div.form-elements-button-smole-without-border
      +button-paste('button-smole-without-border', 'CLICK ME')
    div.form-elements-button-smole-without-border-on
      +button-paste('button-smole-without-border-on', 'CLICK ME')
    div.form-elements-pagination
      +pagination-paste()



    div.form-elements-checkbox
      +checkbox-paste()
    div.form-elements-radio-button
      +radio-button-paste()
    div.form-elements-toggle-on
      +toggle-paste('qwe', 'checked')
    div.form-elements-toggle
      +toggle-paste('asd')
    div.form-elements-like-buttons-on
      +like-buttons(12, "add")
    div.form-elements-like-buttons
      +like-buttons(2)
    div.form-elements-rate-button-4
      +rate-button-paste(5)
    div.form-elements-rate-button-5
      +rate-button-paste(3)






    div.form-elements-text-fields
      +text-fields-paste("date")
    div.form-elements-text-fields
      +text-fields-paste("text-field", "Имя")


    div.form-elements-date-dropdown
      +date-dropdown-paste('date_dropdown')
    div.form-elements-date-dropdown
      +date-dropdown-paste('date_dropdown')
    div.form-elements-filter-date-dropdown
      +date-dropdown-paste('filter_date_dropdown')
    //div.form-elements-date-dropdown
      +date-dropdown-paste('calendar')


    div.form-elements-text-fields
      +text-fields-paste("subscription", "Email")


    div.form-elements-dropdown-room-close
      +dropdown-room-paste()
    div.form-elements-dropdown-room-open
      +dropdown-room-paste()
    div.form-elements-dropdown-people-not-enter
      +dropdown-people-paste()
    div.form-elements-dropdown-people-enter
      +dropdown-people-paste()






    div.form-elements-expandable
      +expandable-checkbox-paste()
    div.form-elements-rich-checkbox
      +rich-checkbox-paste()
    div.form-elements-bullet-list
      +bullet-list-paste()




    div.form-elements-comment
      +comment(12, "add")
    div.form-elements-comfort-icons
      +comfort-icons-paste()