html {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    
}

h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    color: #1F2041;
}

span {
    font-size: 12px;
    color:  rgba(31, 32, 65, 0.5);
}

.form-elements-block {
    position: relative;
    width: 1440px;
    height: 1853px;
    background: #FFFFFF;
    margin: 35px auto 48px; 
}


.form-elements-range-slider {
    position: absolute;
    left: 979px;
    top: 143.44px;
}

.form-elements-button-smole {
    position: absolute;
    left: 980px;
    top: 262px;
}

.form-elements-button-smole-on {
    position: absolute;
    left: 1098px;
    top: 262px;
}

.form-elements-button-smole-border {
    position: absolute;
    left: 979px;
    top: 336px;
}

.form-elements-button-smole-border-on {
    position: absolute;
    left: 1098px;
    top: 336px;
}

.form-elements-button-smole-without-border {
    position: absolute;
    left: 980px;
    top: 411px;
}

.form-elements-button-smole-without-border-on {
    position: absolute;
    left: 1061px;
    top: 411px;
}


.form-elements-pagination {
    position: absolute;
    left: 980px;
    top: 571.44px;
}

.form-elements-log-button {
    position: absolute;
    left: 979px;
    top: 456px;
}

.form-elements-checkbox{
    position: absolute;
    left: 587px;
    top: 174.56px;
    z-index: 99;
}

.form-elements-radio-button {
    position: absolute;
    left: 587px;
    top: 344px;
}

.form-elements-toggle-on {
    position: absolute;
    left: 587px;
    top: 435.56px;
}

.form-elements-toggle {
    position: absolute;
    left: 587px;
    top: 469.56px;
}

.form-elements-like-buttons-on {
    position: absolute;
    left: 637px;
    top: 565px;
}

.form-elements-like-buttons {
    position: absolute;
    left: 587px;
    top: 565px;
}

.form-elements-rate-button-4 {
    position: absolute;
    left: 587px;
    top: 656px;
}

.form-elements-rate-button-5 {
    position: absolute;
    left: 727px;
    top: 656px;
}

.form-elements-toggle-on {
    position: absolute;
    left: 587px;
    top: 435.56px;
}






//comment and comfort
.form-elements-comfort-icons {
    position: absolute;
    left: 140px;
    top: 1564px;
}
//comment and comfort




.form-elements-comment {
    position: absolute;
    left: 587px;
    top: 1574px;
    width: 100%;
}


.form-elements-bullet-list {
    position: absolute;
    left: 979px;
    top: 1220px;
}

.form-elements-rich-checkbox {
    position: absolute;
    left: 587px;
    top: 1227px;
}

.form-elements-expandable {
    position: absolute;
    left: 140px;
    top: 1260px;
}

.form-elements-dropdown-room-close {
    position: absolute;
    left: 140px;
    top: 896px;
}

.form-elements-dropdown-room-open {
    position: absolute;
    left: 140px;
    top: 979.56px;
}

.form-elements-dropdown-people-not-enter {
    position: absolute;
    left: 587px;
    top: 896px;
}

.form-elements-dropdown-people-enter {
    position: absolute;
    left: 979px;
    top: 896px;
}

.form-elements-text-fields {
    position: absolute;
    left: 140px;
    top: 732px;
}


.form-elements-filter-date-dropdown {
    position: absolute;
    left: 140px;
    top: 627px;
}

.form-elements-date-dropdown {
    position: absolute;
    left: 141px;
    top: 522.44px;
}

.form-elements-text-fields-date {
    position: absolute;
    left: 141px;
    top: 418px;
}

.form-elements-dropdown-people-not-enter-top {
    position: absolute;
    left: 141px;
    top: 331.44px;
    z-index: 999999;
}

.form-elements-text-fields-name {
    position: absolute;
    left: 141px;
    top: 163px;
}

.form-elements-text-fields-name-focus {
    position: absolute;
    left: 141px;
    top: 247.44px;
}


.form-elements-expandable-close {
    position: absolute;
    left: 141px;
    top: 1196px;
}










.element-titles {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

.text-field-title {
    position: absolute;
    left: 141px;
    top: 143px;
}

.text-field-title-focus {
    position: absolute;
    left: 141px;
    top: 227.44px;
}

.people-dropdown-top {
    position: absolute;
    left: 141px;
    top: 311.44px;
}

.masked-text-field {
    position: absolute;
    left: 141px;
    top: 398px;
}

.date-dropdown-left-title {
    position: absolute;
    left: 141px;
    top: 502px;
}

.date-dropdown-right-title {
    position: absolute;
    left: 311px;
    top: 502px;
}

.filter-date-dropdown-title {
    position: absolute;
    left: 141px;
    top: 607px;
}

.subscription-text-field-title {
    position: absolute;
    left: 141px;
    top: 712px;
}

.dropdown-room-title {
    position: absolute;
    left: 140px;
    top: 876px;
}

.dropdown-room-title-open {
    position: absolute;
    left: 140px;
    top: 960px;
}

.dropdown-people-open {
    position: absolute;
    left: 587px;
    top: 876px;
}

.dropdown-people-open-add {
    position: absolute;
    left: 979px;
    top: 876px;
}

.rich-checkbox-buttons-title {
    position: absolute;
    left: 587px;
    top: 1196px;
}

.bullet-list-title {
    position: absolute;
    left: 979px;
    top: 1196px;
}

.rate-button-title {
    position: absolute;
    left: 587px;
    top: 625px;
}

.like-button-title {
    position: absolute;
    left: 587px;
    top: 534px;
}

.toggle-title {
    position: absolute;
    left: 587px;
    top: 404.56px;
}

.radio-buttons-title {
    position: absolute;
    left: 587px;
    top: 313px;
}

.checkbox-buttons-title {
    position: absolute;
    left: 587px;
    top: 143px;
}

.buttons-title {
    position: absolute;
    left: 979px;
    top: 231px; 
}

.pagination-title {
    position: absolute;
    left: 980px;
    top: 540px;
}

.ui-kit-logo-icon {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 40px;
}


.ui-kit-body {
    background-color: #E5E5E5;
  }






















