include ../../element/buttons/buttons



mixin header-cite(header_type, user_name)
    div.header-block

        
        img.header-logo-img(src="")
        
    
  
        nav.header-nav-panel.links-panel
            a.header-links.nav-links.nav-links-bold(href="") О нас
           
            a.header-links.nav-links.link-and-icon(href="")  Услуги
            a.header-links.nav-links(href="") Вакансии
            a.header-links.nav-links(href="") Новости
            a.header-links.nav-links.link-and-icon(href="") Соглашения
   

            if header_type == 'not init'
                span.header-links.nav-links(href="") 
                    +button-paste('button-smole-border-header', 'ВОЙТИ')
                span.header-links.nav-links.header-nav-buttons(href="")
                    +button-paste('button-header' , "ЗАРЕГЕСТРИРОВАТЬСЯ")

            if header_type == 'init'
                span.user-name-border.header-links.nav-links
                a.header-links.nav-links.header-nav-buttons.header-user-name(href="")=user_name
            




