//include ../../element/button-long/button-long

html
  head
    title My Site
  body
    h1 My Site
    p Welcome to my super lame site.
    //include ../../element/button-long/button-long
    //+article('Hello world')

    //+article('Hello world')


//include ../../element/button-long/button-long.pug

//head
    title Pug
    
//body
    block content 
    p liuhoiu 
    include ../../element/button-long/button-long.pug 
    +article('Hello world')

    +article('Hello world')
  