//- include ../../element/button-long/button-long
include ../../blocks/header-cite/header-cite
include ../../blocks/footer-widgets/footer-widgets
include ../../blocks/footer-creative/footer-creative





html
  head
    title Headers&Footers
  body.ui-kit-body


    div.haeder-and-footer-block

        img.ui-kit-logo-icon(src="", alt="")

        div.header-init-conteiner
            +header-cite('not init')
        div.header-not-init-conteiner
            +header-cite('init', 'Юлий Цезарь')
        div.footer-widgets-conteiner
            +footer-widgets()
        div.footer-creative-conteiner
            +footer-creative()

//- div.haeder-and-footer-block
//-     +header-cite('init', 'Юлий Цезарь')
//- div
//-     +header-cite('not init')
//- div 
//-     +footer-widgets()
//- div
//-     +footer-creative()
