//- include ../../element/button-long/button-long
include ../../blocks/header-cite/header-cite
include ../../blocks/footer-widgets/footer-widgets


html
  head
    title Headers&Footers
  body
    h1 My Site
    p Welcome to my super lame site.
    +header-cite('init', 'Юлий Цезарь')
    br
    br
    br
    +header-cite('not init')
    br
    br
    br
    br
    br
    +footer-widgets()


  