mixin comfort-icons-paste()

    div.qwe
        div.icon.smile-city
            i.material-icons.comfort-icons insert_emoticon
        div.text.smile-city
            h3 Комфорт
            span.comfort-text Шумопоглощающие стены

    br

    div.qwe
        div.icon.smile-city
            i.material-icons.comfort-icons location_city
        div.text.smile-city
            h3 Удобство
            span.comfort-text Окно в каждой из спален
